{% extends "base.html" %}

{% block content %}
  <div class="text-center mx-auto mt-5">
    <h1 class="text-black-50">
      {{ object|yesno:"Update,Create" }} redactor</h1>
  </div>
  <div class="col-lg-7 mx-auto d-flex justify-content-center flex-column">
    <form action="" method="post" novalidate>
      {% csrf_token %}
      {{ form.as_p }}

      <input type="submit" value="Submit" class="btn bg-gradient-dark">
      <a href="javascript:history.go(-1)" class="btn btn-light ml-3">Cancel</a>
    </form>
  </div>
{% endblock %}
