asgiref==3.8.1
click==8.1.8
Django==5.1.5
django-crispy-forms==1.14.0
django-debug-toolbar==3.2.4
flake8==5.0.4
flake8-quotes==3.3.1
flake8-variables-names==0.0.5
psycopg2-binary==2.9.10
pycodestyle==2.9.1
pyflakes==2.5.0
python-dotenv==1.0.1
python-slugify==8.0.4
sqlparse==0.5.3
urllib3==2.3.0
whitenoise==6.8.2
